<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Delivery Price Calculator</title>
</head>
   <body>

     <h2 style = "text-align: center;">Estimation on Delivery Price</h2>

      <!-- {% for message in form.p_postcode.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.d_postcode.errors %}
         <div>{{ message }}</div>
      {% endfor %} -->

      <form action = "http://localhost:8080/" method = post>
            {{ form.hidden_tag() }}

            <div align="center" style = font-size:20px; font-weight:bold; margin-left:150px;>

               {{ form.p_postcode.label }}
               <br>
               {{ form.p_postcode }}
               <br>

               {{ form.d_postcode.label }}
               <br>
               {{ form.d_postcode }}
               <br>

               {{ form.vehicle.label }}
               <br>
               {{ form.vehicle }}
               <br>
               {{ form.submit }}
            </div>
      </form><br>
      <div align="center">
         {{output}} 
      </div>

   </body>
</html>